@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
h1,h2,h3,h4,h5,h6,p {
  font-family: "Lato";
  color:red;
}

.title{
    color:blue;
}

.books-container{
    display:flex;
    flex-direction:"row";
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content: center;
    height: 100vh;
}

.book-card{
    position: relative;
    margin:20px;
}

.icon{
    position: relative;
    margin-top:10px;
    margin-right:10px;
}